@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;500;700&display=swap');

:root {
/* bg-color */
    --pg-bg: #5848a1;
    --pg-bg-1: #fff;

    /* nav-bar sm-color */
    --hv-nav-bg-1 : #01a79b;
    --hv-nav-bg-2 : #FF5E79;

    /* nav-bar lg-color */ 
    --hv-nav-bg-3: #F36518;

    /* footer-color */
    --ft-bg-1: #717171;

/*font*/
    /* body-font-size*/
    font-size: 62.5%;

    /*font-size*/
    --nav-mnm:1.2rem;
    --nav-standard:1.5rem;
    --nav-mxm: 1.8rem;

    --title-xs: 2.8rem;
    --title-md: 3rem;
    --title-lg: 3.5rem;

    --sub-title-xs: 2rem;
    --sub-title-md: 2.5rem;
    --sub-title-lg: 3rem;

    --body-xs: 1.2rem;
    --body-md: 1.2rem;
    --body-lg: 1.4rem;

    /* font-color */
    --ft-color-1: #ff0;
    --ft-color-2: #fff;

    /* link-color */
    --link-color-1:#fff;

    /*line-height*/
    --lh-1-xs: 1.2;
    --lh-1-lg: 1.5;

}

/* —————————————————————————— */
/* ===P1=== */
/* html {overflow-x: hidden;} */

body {
    overflow-x: hidden;
    font-family: 'Noto Serif TC', serif;
    background-color: var(--pg-bg);
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Body_BgPoint_repeat.png);
}

.cover {
    width: 100%;
    background-color: var(--pg-bg);
    background-size: contain, cover; 
    background-position: center;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Body_BgPoint_repeat.png);
    overflow: hidden;
}


/* Global Settings*/
/* —————————————————————————— */

/*set center */
.mw-1200 {
    max-width: 1200px;
    margin: auto;
}

.w-100 {
    width: 100%;
    margin: auto;
}

/*link  */
a {
    color: var(--link-color-1);
    text-decoration: none;
}

/*image sizing w-100 */
.btn img,
.intro .kv_content .kv_header img,
.intro .kv_content .kv_box img,
.intro .kv_bg img ,
.detail_content img,
.notice_bg img {
    width: 100%;
    vertical-align: bottom;
}

/* btn */
.btn {
    z-index: 2;
    width: 80%;
    margin: auto;
    position: relative;
}

/*parent's z-index*/

/* .intro {
    z-index: 2;
} */
.details{z-index: 3;}
.missions, .notices, .footer {
    z-index: 2;
    position: relative;
}

/* end */
/* —————————————————————————— */



/* header */
/* —————————————————————————— */
.header {
    overflow: hidden;
    background-color: var(--hv-nav-bg-3);
    top  : 0;
    left : 0;
    right: 0;
    z-index : 4;
    position: fixed;
}

.header .main_logo {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header .logo img {
    width: 50%;
    margin: auto;
    vertical-align: bottom;
}

.header .main_nav ul{
    display: flex;
}


/* section 1 */
/* —————————————————————————— */

.intro {
    top: 0px; 
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
}

.intro .sticky {
    position: relative;
}

/* ===P1=== */
/* .intro {margin-top: 650px;}
.intro .sticky {margin-top: -650px;} */
/* ======= */


.intro .kv_content {
    top: 20px;
    left: 0;
    position: relative;
}

.kv_content .kv_title,
.kv_box .row .col {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.intro .kv_bg picture {
    bottom: 50px;
    position: absolute;
}

.kv_content .kv_box {
    width: 100%;
    position: relative;
}

.intro .kv_title::after,
.intro .kv_box .row::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 149.33333%;
}

.intro .kv_title::after {
    padding-bottom: 53.33333%;
}

.intro .kv_title picture {
    position: absolute;
}


.kv_content .kv_box .col {
    width: 50%;
}

.kv_box .row .col:nth-child(1){
    top: 0%;
    left: 0%;
}

.kv_box .row .col:nth-child(2) {

    top: 0%;
    left: 50%;
}

.kv_box .row .col:nth-child(3){
    top: 30%;
    left: 0%;
}

.kv_box .row .col:nth-child(4){
    top: 30%;
    left: 50%;
}

.intro::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
}

.intro::after {
    z-index: 1;
    height: 300px;
    bottom: -180px;
    background-repeat: repeat-x;
    background-size: 400px auto;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloud_repeat.png);
    background-position: center 0%; 
}


/* section 2 */
/* —————————————————————————— */
.details {
    position: relative;
    width: 100%;
    background-color: var(--pg-bg-1);  
}

.details .detail_title {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


/* set column*/
.detail_box .row .col {
    float: left;
}

.detail_box .row::after,
.footer .footer_content::after {
   content: "";
   display: block;
   clear: left;
}

.detail_box .row .col-xs-1 {
    width: 100%;
}

.detail_box .row .item {
    width: 100%;
}

.details::before,
.details::after,
.detail_bg::before,
.detail_bg::after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    z-index:1;
    width: 100%;
    height: 760px;
    background-repeat: repeat-x;
    background-size: 760px auto;
}

/* 火箭 */

.details .detail_bg::after {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_Rocket.png);
    background-repeat: no-repeat;
    background-position: center 0%;
}




.details .detail_bg::after {
    top: -220px;
    background-size: 120px auto;
}

.details .detail_bg::after {
    top: -10px;
    background-size: 120px auto;
}

.details::after {
    height: 300px;
    bottom: -290px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_TopClould_repeat.png);
    background-repeat: repeat-x;
    background-size: 760px auto;
}

.details .detail_bg::before {
    top: -110px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png);
    background-repeat: repeat-x;
    background-size: 600px auto;
    background-position: center 0%;
}


.details .detail_content {
    width: 100%;
    z-index : 1;
    position: relative;
    padding-bottom: 65px;
    background-color: var(--pg-bg-1);

    line-height: var(--lh-1-lg);
    text-align: center;
    font-weight: 500;
    font-size: var(--body-lg);

  }

  .details .detail_content p:last-child {
    font-size: var(--body-xs);
    font-weight: 200;
    margin-top: 10px;
  }

/* section 3 */
/* —————————————————————————— */

/* .mission_title + mission_box*/
.missions .mission_content { 
    margin: auto;
    max-width: 1200px;
    top  : 3%;
    left : 0;
    right: 0;
    position: absolute;
}

.missions .mission_bg_t,
.missions .mission_bg_b,
.missions .mission_title,
.missions .mission_box .row {
    width: 100%;
    position: relative;
}


.missions .mission_bg_t::after,
.missions .mission_bg_b::after,
.missions .mission_title::after,
.missions .mission_box .row::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 700%;
}

.missions .mission_bg_t::after {
    padding-bottom: 50.66666%;
}

.missions .mission_title::after {
    padding-bottom: 26.66666%;
}

.missions .mission_title picture img,
.missions .mission_bg_t picture img,
.missions .mission_bg_b picture img,
.missions .mission_box .item img {
    width: 100%;
    height: auto;
    position: absolute;
}

.mission_box .row .col .item img{
    width: 100%;
    z-index : 3;
    bottom  : 0%;
    right   : 0%;
    position: absolute;
    margin: auto;
    transition: .3s ease-in;
   
}

.mission_box .row .col:nth-child(1) .item img {
    top : -85%;
    left: 0%;
}

.mission_box .row .col:nth-child(2) .item img{
    top : -56.5%;
    left: 0%;
}

.mission_box .row .col:nth-child(3) .item img {
    top : -28%;
    left: 0%;
}

.mission_box .row .col:nth-child(4) .item img {
    top : .5%;
    left: 0%;
}

.mission_box .row .col:nth-child(5) .item img {
    top : 29%;
    left: 0%;
}

.mission_box .row .col:nth-child(6) .item img {
    top : 57.5%;
    left: 0%;
}
.mission_box .row .col:nth-child(7) .item img {
    top : 86.5%;
    left: 0%;
}

.mission_box .col .item img,
.mission_box .col:last-child .item img {
    display: block;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgGreen-Normal.png);
    background-size    : 100% auto;
    background-position: 0%   0%;
    background-repeat  : no-repeat;
}

.mission_box .col:hover .item img,
.mission_box .col:last-child:hover .item img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgGreen-Hover.png);
    background-size    : 100% auto;
    background-position: 0%   0%;
    background-repeat  : no-repeat;
    bottom:5px;
    right: 5px;
}

.mission_box .col:last-child .item img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgPurple-Normal.png);
}

.mission_box .col:last-child:hover .item img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgPurple-Hover.png);
}


/* section 5*/
/* —————————————————————————— */
.footer {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 10px 50px 10px;
    box-sizing: border-box;
    background-color: var(--ft-bg-1);

}

.footer .footer_content p {
    line-height: var(--lh-1-xs);
}

.footer .footer_title,
.footer .footer_content,
.footer .footer_content p+p {
    margin-bottom: 20px;
}

.footer .footer_title {
    font-weight: 700;
    font-size: var(--title-md);
}

.footer .contact_no {
    font-weight: 500;
    margin: 20px 0 20px 0;
    color: var(--ft-color-1);
}


.footer .footer_content {
    border-bottom: 1px solid var(--link-color-1);
}


/* Mobile Phone */
@media screen and (max-width: 767px) {

/* header */
    .header .main_logo {
        top: 0;
        position: fixed;
        border-bottom: 5px solid #fff;
        background-color: var(--hv-nav-bg-3);
    }

    .header .main_logo .logo {
        text-align: center;
    }

    .header .main_nav {
        bottom: 0;
        right : 0;
        left  : 0;
        position: fixed;
    }

    .main_nav li {
        flex-grow: 1;
        padding: 10px 10px;
        aspect-ratio: 10/3;     
    }

    .main_nav ul li a {
        font-size: 0;
        height: 0;
    }

    .main_nav ul li + li {
        border-left: 1px solid #fff;
    }
   
    .main_nav ul li:nth-child(1) {
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Description.png) no-repeat center;
        background-size: 75% auto;
   
    }
    .main_nav ul li:nth-child(2){
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Mission.png) no-repeat center;
        background-size: 75% auto;
        
    }
    
    .main_nav ul li:nth-child(3){
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Notes.png) no-repeat center;
        background-size: 75% auto;
    }

    .main_nav ul li:hover {
        background-color: var(--hv-nav-bg-2);
    }

    .detail_content time {
        display: block;
    }

    .details .detail_bg::after {
        top: -220px;
        background-size: 120px auto;
    }

    .footer .footer_title {
        font-size: var(--title-xs);
    }

    .footer .contact_no {
        font-size: var(--sub-title-xs);
    }

    .footer a {
        color: inherit;
    }
       
}

/* Mobile Phone <= 375px */
@media screen and (max-width: 375px) {

    .intro .kv_content,
    .details .detail_content,
    .missions .mission_bg_t,
    .missions .mission_bg_b,
    .missions .mission_content {   
        margin: auto;
        width: 90%;
    }

    .btn {
        padding-top: 30px;
        margin: auto;
        width: 90%;
    }
/* header */
    .header .logo img{
        width: 60%;
    }

/* section 2 */
    .details::after {
        background-size: 380px auto;
    }

    .details .detail_bg::after {
        top: -140px;
        background-size: 70px auto;
    }

/* section 5 */
    .footer .contact_no,
    .footer .footer_content {
        font-size: var(--body-xs);
        white-space: nowrap;
    }

    .footer .contact_no a {
        margin-top: 10px;
    }

    .missions .mission_content .mission_title {
        top: 20px;
        position: relative;
    }

}

/* Tablet */
@media screen and (min-width: 768px) {

    .btn {
        width: 60%;
    }
 
/* header */
    .header .logo img {
        width: 55%;
    }
    
    .main_nav ul li a{
        font-size: clamp(var(--nav-mnm), 
                         var(--nav-standard),
                         var(--nav-mxm)); 
        white-space: nowrap;
        display: block;
        padding: 10px 25px;
    }

    .main_nav ul li {
        border-radius: 25px;
    }

    .main_nav ul li:hover {
        background-color: var(--link-color-1);
    }
    
    .main_nav ul li:hover  a{
        color: var(--hv-nav-bg-3);
    }

/* section 1 */

    .intro .kv_bg::after,
    .intro .kv_box .row::after {
        padding-bottom: 38%;
    }

    .intro .kv_title::after {
        padding-bottom: 23.33333%;
    }

    .kv_content .kv_box .col {
        width: 20%;
    }
    
    .kv_box .row .col:nth-child(1){
        top: 0%;
        left: 5%;
    }
    
    
    .kv_box .row .col:nth-child(2) {
        top: 0%;
        left: 75%;
    }
    
    .kv_box .row .col:nth-child(3){
        top: 15%;
        left: 22%;
    }
    
    .kv_box .row .col:nth-child(4){
        top: 15%;
        left: 58%;
    }

    .kv_box .row .col {
        animation-name: anim1;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-delay: .5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      .kv_box .row .col:nth-child(3),
      .kv_box .row .col:nth-child(4) {
        animation-name: anim2;
        animation-delay: 0s;
      }
      
      @keyframes anim1 {
        0%   {top:0px;}
        100% {top:80px;}
      }

      @keyframes anim2 {
        0%   {top:0px;}
        100% {top:80px;}
      }

/*section 2 */

    .details .detail_bg::after {
        top: -220px;
        background-size: 120px auto;
    }
    .details .detail_content {
        font-size: var(--body-lg);
    }

    .details .detail_content p:last-child {
        font-size: var(--body-lg);
    }

    .detail_content time {
        margin-bottom: 10px;
        display: inline-block;
    }

/* section 2 */

    .details .detail_title {
        width: 50%;
    }

    .detail_box .row .col-lg-2 {
        width: 50%;
    }

/* section 3*/
    .missions .mission_bg_b::after,
    .missions .mission_box .row::after {
        padding-bottom: 125%;
    }

    .missions .mission_bg_t::after {
        padding-bottom: 29.16666%;
    }

    .missions .mission_title::after {
        padding-bottom: 21.42857%;
    }

    .missions .mission_title {
        top: 50px;
        position: relative;
    }

    .mission_box .row .col .item img{
        width: 35%;
    }

    .mission_box .row .col:nth-child(1) .item img {
        top : -60%;
        left: -40%;
    }

    .mission_box .row .col:nth-child(2) .item img {
        top : -53%;
        left: 50%;
    }

    .mission_box .row .col:nth-child(3) .item img{
        width: 30%;
        top : 0%;
        left: 70%;
    }

    .mission_box .row .col:nth-child(4) .item img {
        width: 30%;
        top : 10%;
        left: -3%;
    }

    .mission_box .row .col:nth-child(5) .item img {
        width: 30%;
        top : 20%;
        left: -78%;
    }

    .mission_box .row .col:nth-child(6) .item img {
        top : 70%;
        left: -55%;
    }

    .mission_box .row .col:nth-child(7) .item img {
        width: 42%;
        top : 70%;
        left: 45%;
    }

/* section 5 */
    .footer .footer_title {
        font-size: var(--title-lg);
    }

    .footer .contact_no {
        font-size: var(--sub-title-lg);
    }

    .footer .footer_content {
        width: 100%;
        margin: auto;
        color: var(--ft-color-2);
    }

    .footer .footer_title {
        width: 50%;
        float: left;
    }

    .footer .footer_content p  {
        width: 50%;
        float: left;
        text-align: left;   
        line-height: var(--lh-1-lg);
    }
    
}

/* Desktop */
@media screen and (min-width: 2000px) {
    
}

