/* body {
    outline: 2px solid red;
} */

:root {
    /* bg-color */
    --pg-bg: #5848a1;

    /* nav-bar sm-color */
    --hv-nav-bg-1 : #01a79b;
    --hv-nav-bg-2 : #FF5E79;

    /* nav-bar lg-color */ 
    --hv-left-nav-txt : #fff;
    --hv-left-nav-bg: #F36518;

    /* footer-color */
    --ft-bg-1: #717171;

    /* font-size*/
    font-size: 62.5%;
}

/* —————————————————————————— */

html {
    overflow-x: hidden;
    background-color: var(--pg-bg);
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Body_BgPoint_repeat.png);
}




/* Global Settings*/
/* —————————————————————————— */

/*1.set center */
.mw-1200 {
    max-width: 1200px;
    margin: auto;
}

.w-100 {
    width: 100%;
    margin: auto;
}

/* 2.set column*/

.detail_box .row .col {
    float: left;
}

.detail_box .row::after {
   content: "";
   display: block;
   clear: left;
}

.detail_box .row .col-xs-1 {
    width: 100%;
}

/* 3.set content  */

.detail_box .row .item {
    width: 100%;
}


/* 4. set image sizing w-100 */
.btn img,
.intro .kv_content img,
.intro .kv_bg img ,
.detail_content img,
.mission_bg_t img,
.mission_bg_bt img,
.mission_content img,
.notice_bg img {
    width: 100%;
    vertical-align: bottom;
}

/* set btn */
.btn {
    z-index: 2;

    width: 80%;
    margin: auto;
    position: relative;
}


/* set z-index*/

.details, .missions, .notices, .footer {
    z-index: 1;
    position: relative;
}
/* .details {
    z-index: ;
}
.details::after {
    z-index: 1;
} */
/* .missions {
    z-index: 2;
}
.missions .mission_content .mission_bg_t {
    z-index: -1;
}
.missions .mission_content {
    z-index: 1;
} */

/* correction */
/* .missions, .notices {
    background-color: #5848a1;
} */

/* end */
/* —————————————————————————— */



/* header */
/* —————————————————————————— */
.header {
    background-color: #F36518;
    top  : 0;
    left : 0;
    right: 0;
    z-index : 3;
    position: fixed;
}

.header .main-logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header .logo img {
    width: 50%;
    margin: auto;
    vertical-align: bottom;
}

.header .main-nav ul{
    display: flex;
}

.header .main-nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* section 1 */
/* —————————————————————————— */

section.intro {
    top: 0; 
    z-index: 2;
    position: sticky !important;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
} 

.intro {margin-top: 1400px;}
.sticky {
    margin-top: -1400px;
}

.sticky {
    height: 100%;
    position: relative;
    padding-top: 50px;
}

.intro .kv_title {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.intro .kv_title picture {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro .kv_bg {
    right: 0;
    left: 0;
    bottom: 50px;
    margin: auto;
    position: absolute;
}
.intro .kv_bg picture {
    width: 100%;
    height: 100%;
    position: absolute;
}

.kv_content .row .col {
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.intro .kv_bg::after,
.intro .kv_title::after,
.kv_content .row::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 149.33333%;
}

.intro .kv_title::after {
    padding-bottom: 26.666666%;
}

.kv_box {
    position: relative;
}

.kv_box .col{
    position:absolute;
}

.kv_box .col .item {
    width: 50%;
}

.kv_box .col .item img {
    width: 100%;
}


.kv_box .row .col:nth-child(1){
    top: 0%;
    left: 0%;
}

.kv_box .row .col:nth-child(2) {
    top: 0%;
    left: 50%;
}

.kv_box .row .col:nth-child(3){
    top: 40%;
    left: 0%;
}

.kv_box .row .col:nth-child(4){
    top: 40%;
    left: 50%;
}

.intro::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
}

.intro::after {
    height: 300px;
    bottom: -170px;
    background-repeat: repeat-x;
    background-size: 400px auto;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloud_repeat.png);
    background-position: center 0%; 
}


/* section 2 */
/* —————————————————————————— */
.details {
    z-index : 2;
    position: relative;
    width: 100%;
    background-color: #fff;  
}

.details::before,
.details::after,
.detail_bg::before,
.detail_bg::after {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    z-index:1;
    width: 100%;
    height: 900px;
    background-repeat: repeat-x;
    background-size: 760px auto;
}

/* .details::before {
    z-index: -1;
    top: -150px;
    height: 800px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_Rocket.png), url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png);
    background-position: center -1%, center 0%;
    background-repeat: no-repeat,repeat-x;
    background-size: 11% auto, 800px auto;
} */

.detail_bg::after {
    top: -250px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_Rocket.png);
    background-repeat: no-repeat;
    background-size: 120px auto;
    background-position: center 0%;
    /* background-color: red; */
}

.details::after {
    bottom: -900px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_TopClould_repeat.png);
    background-repeat: repeat-x;
    background-size: 760px auto;
}

.detail_bg::before {
    top: -120px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png);
    background-repeat: repeat-x;
    background-size: 600px auto;
    background-position: center 0%;
    /* background: red; */

}

.details .detail_content {
    width: 100%;
    z-index : 1;
    position: relative;
    padding-bottom: 65px;
    background-color: #fff;
}

/* section 3 */
/* —————————————————————————— */
.missions {
    max-width: 1200px;
    margin: auto;
}

.missions {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.mission_content {
    top: 0;
    left: 0;
    position: absolute;
}

/* test area */
/* ____________________ */

.mission_content {
    margin: auto;
    max-width: 1200px;
    top  : 3%;
    left : 0;
    right: 0;
    position: absolute;

}
.mission_bg_t,
.mission_bg_b,
.mission_title,
.mission_content .row{
    width: 100%;
    position: relative;
}


.mission_bg_t::after,
.mission_bg_b::after,
.mission_title::after,
.mission_content .row::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 700%;
}

.mission_bg_t::after {
    padding-bottom: 50.66666%;
}

.mission_title::after {
    padding-bottom: 26.66666%;
}

.mission_title picture img,
.mission_bg_t picture img,
.mission_bg_b picture img {
    width: 100%;
    height: auto;
    position: absolute;
}

/* .mission_box .row {
    top : 0;
    left: 0;
    position: absolute;
} */


.mission_box .row .col picture img {
    width: 100%;
    z-index : 3;
    bottom  : 0;
    right   : 0;
    position: absolute;
    margin: auto;
    transition: .3s ease-in;
   
}

.mission_box .row .col:nth-child(1) picture img {
    top : -85%;
    left: 0%;
}

.mission_box .row .col:nth-child(2) picture img{
    top : -56.5%;
    left: 0%;
}

.mission_box .row .col:nth-child(3) picture img {
    top : -28%;
    left: 0%;
}

.mission_box .row .col:nth-child(4) picture img {
    top : .5%;
    left: 0%;
}

.mission_box .row .col:nth-child(5) picture img {
    top : 29%;
    left: 0%;
}

.mission_box .row .col:nth-child(6) picture img {
    top : 57.5%;
    left: 0%;
}
.mission_box .row .col:nth-child(7) picture img {
    top : 86.5%;
    left: 0%;
}

.mission_content .mission_box .col picture img,
.mission_content .mission_box .col:last-child picture img {
    display: block;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgGreen-Normal.png);
    background-size    : 100% auto;
    background-position: 0%   0%;
    background-repeat  : no-repeat;
}

.mission_content .mission_box .col:hover picture img,
.mission_content .mission_box .col:last-child:hover picture img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgGreen-Hover.png);
    background-size    : 100% auto;
    background-position: 0%   0%;
    background-repeat  : no-repeat;
    bottom: 5px;
    right: 5px;
}

.mission_content .mission_box .col:last-child picture img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgPurple-Normal.png);
}

.mission_content .mission_box .col:last-child:hover picture img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgPurple-Hover.png);
}


/* notices */
/* —————————————————————————— */

/* footer */
/* —————————————————————————— */
.footer {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 10px 50px 10px;
    /* margin: 0 0 10px 0; */
    background-color: var(--ft-bg-1);

}

.footer .footer_title,
.footer .footer_content,
.footer .footer_content p {
    margin-bottom: 20px;
}

.footer .footer_title {
    font-size: 3rem;
}

.footer .contact_no {
    margin: 20px 0 20px 0;
    font-size: 2rem;
    color: #ff0;
}


.footer .footer_content {
    border-bottom: 1px solid var(--hv-left-nav-txt);
}


/* Mobile Phone <= 375px */
@media screen and (max-width: 375px) {

    .header .logo img{
        width: 60%;
    }


    .intro .kv_content,
    .details .detail_content,
    .missions .mission_bg_t,
    .missions .mission_bg_b,
    .missions .mission_content {   
        margin: auto;
        width: 90%;
    }

    .btn {
        margin: auto;
        width: 90%;
    }

    /* .intro {margin-top: 100px;}
    .sticky {
        margin-top: -100px;
    } */
    .details::after {
        background-size: 190px auto;
    }

    .detail_bg::after {
        top: -130px;
        background-size: 70px auto;
    }

    .footer_content {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    .mission_title {
        top: 20px;
        position: relative;
    }

}

/* Mobile Phone */
@media screen and (max-width: 767px) {

    .main-logo {
        top: 0;
        position: sticky;
        border-bottom: 5px solid #fff;
    }
    .header .logo {
        text-align: center;
    }

    .main-nav {
        position: fixed;
        bottom: 0;
        right : 0;
        left  : 0;
    }

    .main-nav li {
        flex-grow: 1;
        padding: 10px 10px;
        aspect-ratio: 10/3;     
    }

    .main-nav ul li a {
        font-size: 0;
        height: 0;
    }

    .main-nav ul li + li {
        border-left: 1px solid #fff;
    }
   
    .main-nav ul li:nth-child(1) {
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Description.png) no-repeat center;
        background-size: 75% auto;
   
    }
    .main-nav ul li:nth-child(2){
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Mission.png) no-repeat center;
        background-size: 75% auto;
        
    }
    
    .main-nav ul li:nth-child(3){
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Notes.png) no-repeat center;
        background-size: 75% auto;
    }

    .main-nav ul li:hover {
        background-color: #FF5E79;
    }

       
}

/* Tablet */
@media screen and (min-width: 768px) {
/* test */
    /* .detail_content::before {
        background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png);

    } */
/* test  end*/


    /* set column */
    /* .kv_box .row .col-lg-5{
        width: 20%;
    }
    
    .detail_box .row .col-lg-2{
        width: 50%;
    }

    .kv_box .row .col:nth-child(3),
    .kv_box .row .col:nth-child(4) {
        position: relative;
        left: 20%
    } */

    /* set btn */

/* end */ 

/* —————————————————————————— */
 

    .header .logo img {
        width: 55%;
    }
    
    .main-nav ul li a{
        font-size: clamp(1.2rem, 1.5rem, 1.8rem); 
        white-space: nowrap;
        display: block;
        padding: 10px 25px;
    }

    .main-nav ul li:hover {
        border-radius: 25px;
        background-color: var(--hv-left-nav-txt);
    }
    
    .main-nav ul li:hover  a{
        color: var(--hv-left-nav-bg);
    }

/* section 1 */
    .intro {margin-top: 1400px;}
    .sticky {
        margin-top: -1400px;
    }
    /* .kv_content .row .col::after, */
    .intro .kv_bg::after,
    .kv_content .row::after {
        padding-bottom: 38%;
    }
    
    .intro .kv_title::after {
        padding-bottom: 23.33333%;
    }

    .kv_box .col .item {
        width: 20%;
    }
    
    .kv_box .col .item img {
        width: 100%;
    }
    
    
    .kv_box .row .col:nth-child(1){
        top: 0%;
        left: 5%;
    }
    
    
    .kv_box .row .col:nth-child(2) {
        top: 0%;
        left: 75%;
    }
    
    .kv_box .row .col:nth-child(3){
        top: 15%;
        left: 22%;
    }
    
    .kv_box .row .col:nth-child(4){
        top: 15%;
        left: 58%;
    }

    .row .col {
        animation-name: anim1;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-delay: .5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      .row .col:nth-child(3),
      .row .col:nth-child(4) {
        animation-name: anim2;
        animation-delay: 0s;
      }
      
      @keyframes anim1 {
        0%   {top:0px;}
        100% {top:80px;}
      }

      @keyframes anim2 {
        0%   {top:0px;}
        100% {top:80px;}
      }



/* section 3*/
    .mission_bg_b::after,
    .mission_content .row::after {
        padding-bottom: 125%;
    }

    .mission_bg_t::after {
        padding-bottom: 29.16666%;
    }

    .mission_title::after {
        padding-bottom: 21.42857%;
    }

    .mission_title {
        top: 50px;
        position: relative;
    }


/* test */
    .mission_box .row .col picture img {
        width: 35%;
    }

    .mission_box .row .col:nth-child(1) picture img {
        top : -60%;
        left: -40%;
    }

    .mission_box .row .col:nth-child(2) picture img{
        top : -53%;
        left: 50%;
    }

    .mission_box .row .col:nth-child(3) picture img {
        width: 30%;
        top : 0%;
        left: 70%;
    }

    .mission_box .row .col:nth-child(4) picture img {
        width: 30%;
        top : 10%;
        left: -3%;
    }

    .mission_box .row .col:nth-child(5) picture img {
        width: 30%;
        top : 20%;
        left: -78%;
    }

    .mission_box .row .col:nth-child(6) picture img {
        top : 70%;
        left: -55%;
    }

    .mission_box .row .col:nth-child(7) picture img {
        width: 42%;
        top : 75%;
        left: 45%;
    }

   
    
}

/* Desktop */
@media screen and (min-width: 2000px) {
    
}

