/* body {
    outline: 2px solid red;
} */

:root {
    /* bg-color */
    --pg-bg: #5848a1;

    /* nav-bar sm-color */
    --hv-nav-bg-1 : #01a79b;
    --hv-nav-bg-2 : #FF5E79;

    /* nav-bar lg-color */ 
    --hv-left-nav-txt : #fff;
    --hv-left-nav-bg: #F36518;

    /* footer-color */
    --ft-bg-1: #717171;

    /* font-size*/
    font-size: 62.5%;
}
html, body {
    overflow-x: hidden;
}
body {
    background-color: var(--pg-bg);
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Body_BgPoint_repeat.png);
}

/* Global Settings*/

/*1.set center */
.mw-1200 {
    max-width: 1200px;
    margin: auto;
}

.w-100 {
    width: 100%;
    margin: auto;
}

/* 2.set column*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

[class *= "col-"] {
    z-index: 1;
    padding-left : 10px;
    padding-right: 10px;
    box-sizing: border-box 
}

/*grid settings: xs */
.col-xs-2 { width: 50%;}


/* image sizing w-100 */
.kv_content  img,
.intro .kv-bg img ,
.intro .kv-header img,
.detail_content img,
.mission_content img,
.notices img {
    width: 100%;
    vertical-align: bottom;
}

.missions, .notices, .footer {
    z-index: 1;
    position: relative;
}

.missions, .notices {
    background-color: #5848a1;
}




/* header */
/* —————————————————————————— */
.header {
    background-color: #F36518;
    top  : 0;
    left : 0;
    right: 0;
    z-index : 4;
    position: fixed;
}

.header .main-logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header .logo img {
    width: 50%;
    margin: auto;
    vertical-align: bottom;
}

.header .main-nav ul{
    display: flex;
}

.header .main-nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* section 1 */
/* —————————————————————————— */
.intro {
    top: 0;
    z-index : 1;
    position: sticky;
    width: 100%;
    padding-top: 30px;
}

/* .intro .kv-header {
   padding-left: 4vw;
} */

.intro .kv-bg {
    top : 0;
    left: 0;
    position: absolute;
}

.intro .kv-bg  {
    margin-top: 12vh;
    position: absolute;
    vertical-align: bottom;
}


/* 備用背景圖片 */
/* .kv-star {
    position: absolute;
    bottom: -14%;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloud_repeat.png);
    display: block;
    z-index:1;
    width: 100%;
    height: 40vmin;
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 70% auto;
} */


/* section 2 */
/* —————————————————————————— */
/* .star_details {
    margin-bottom: -17%;
} */

.details {
    z-index : 2;
    position: relative;
    width: 100%;
    margin-top: 12vh;  
    background-color: #fff;  
}


/* .star_details .details::after {
    content: "";
    display: block;
    width : 100%;
    height: 0;
    padding-bottom: 17%;          
} */

/* .star_details .detail_bg {
    top: -6%;
    position: absolute;
    display: block;
    z-index:1;
    width: 100%;
    height: 100%;
    
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png),
    url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_TopClould_repeat.png);
    background-position: 50% 0%,
                         bottom center;
    background-repeat:    
                         repeat-x,
                         repeat-x;
    background-size:     
                         50% auto,
                         50% auto;
} */

.details::before,
.details::after {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    z-index:1;
    width: 100%;
    height: 300px;
    background-repeat: repeat-x;
    background-size: 760px auto;
}

.details::before {
    top: -150px;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png);
    background-position: center 0%;
}

.details::after {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_TopClould_repeat.png);
}

.details .detail_content {
    width: 100%;
    z-index : 1;
    position: relative;
    padding-bottom: 65px;
    background-color: #fff;
}

/* section 3 */
/* —————————————————————————— */
.missions {
    max-width: 1200px;
    margin: auto;
}

.missions {
    max-width: 1200px;
    /* width: 100%; */
    margin: auto;
}

.mission_content {
    top: 0;
    left: 0;
    position: absolute;
}

/* test area */
/* ____________________ */

.mission_content {
    margin: auto;
    max-width: 1200px;
    top  : 3%;
    left : 0;
    right: 0;
    position: absolute;

}

.mission_bg_t,
.mission_bg_b,
.mission_title,
.mission_content .row{
    width: 100%;
    position: relative;
}

.mission_bg_t::after,
.mission_bg_b::after,
.mission_title::after,
.mission_content .row::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 700%;
}

.mission_bg_t::after {
    padding-bottom: 50.66666%;
}

.mission_title::after {
    padding-bottom: 26.66666%;
}

.mission_title picture img,
.mission_bg_t picture img,
.mission_bg_b picture img {
    width: 100%;
    height: auto;
    position: absolute;
}

/* .mission_box .row {
    top : 0;
    left: 0;
    position: absolute;
} */


.mission_box .row .col picture img {
    width: 100%;
    z-index : 3;
    bottom  : 0;
    right   : 0;
    position: absolute;
    margin: auto;
    transition: .3s ease-in;
   
}

.mission_box .row .col:nth-child(1) picture img {
    top : -85%;
    left: 0%;
}

.mission_box .row .col:nth-child(2) picture img{
    top : -56.5%;
    left: 0%;
}

.mission_box .row .col:nth-child(3) picture img {
    top : -28%;
    left: 0%;
}

.mission_box .row .col:nth-child(4) picture img {
    top : .5%;
    left: 0%;
}

.mission_box .row .col:nth-child(5) picture img {
    top : 29%;
    left: 0%;
}

.mission_box .row .col:nth-child(6) picture img {
    top : 57.5%;
    left: 0%;
}
.mission_box .row .col:nth-child(7) picture img {
    top : 86.5%;
    left: 0%;
}

.mission_content .mission_box .col picture img,
.mission_content .mission_box .col:last-child picture img {
    display: block;
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgGreen-Normal.png);
    background-size    : 100% auto;
    background-position: 0%   0%;
    background-repeat  : no-repeat;
}

.mission_content .mission_box .col:hover picture img,
.mission_content .mission_box .col:last-child:hover picture img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgGreen-Hover.png);
    background-size    : 100% auto;
    background-position: 0%   0%;
    background-repeat  : no-repeat;
    bottom: 5px;
    right: 5px;
}

.mission_content .mission_box .col:last-child picture img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgPurple-Normal.png);
}

.mission_content .mission_box .col:last-child:hover picture img {
    background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/Mission_Star_BgPurple-Hover.png);
}


/* notices */
/* —————————————————————————— */

/* footer */
/* —————————————————————————— */
.footer {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 10px 50px 10px;
    /* margin: 0 0 10px 0; */
    background-color: var(--ft-bg-1);

}

.footer .footer_title,
.footer .footer_content,
.footer .footer_content p {
    margin-bottom: 20px;
}

.footer .footer_title {
    font-size: 3rem;
}

.footer .contact_no {
    margin: 20px 0 20px 0;
    font-size: 2rem;
    color: #ff0;
}


.footer .footer_content {
    border-bottom: 1px solid #fff;
}

/* Mobile Phone <= 375px */
@media screen and (max-width: 375px) {

    .header .logo img {
        width: 50%;
        margin: auto;
    }

    .header .logo {
        margin: auto;
    }

    .kv-header .kv_content,
    .notice_content, 
    .detail_content, 
    .missions_content,
    .footer_content
    {
        margin: auto;
        width: 90%;
    }

    .section .mission_content {
        top: 3%;
        bottom: 0;
        margin: auto;
    }

}

/* Mobile Phone */
@media screen and (max-width: 767px) {

    .header .logo {
        text-align: center;
    }

    .main-nav {
        z-index: 3;
        position: fixed;
        bottom: 0;
        right : 0;
        left  : 0;
        margin: auto;
    }

    .main-nav li {
        flex-grow: 1;
        padding: 10px 10px;
        aspect-ratio: 10/3;     
    }

    .main-nav ul li a {
        font-size: 0;
        height: 0;
    }

    .main-nav ul li + li {
        border-left: 1px solid #fff;
    }
   
    .main-nav ul li:nth-child(1) {
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Description.png) no-repeat center;
        background-size: 75% auto;
   
    }
    .main-nav ul li:nth-child(2){
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Mission.png) no-repeat center;
        background-size: 75% auto;
        
    }
    
    .main-nav ul li:nth-child(3){
        background: var(--hv-nav-bg-1) url(./切版用圖-20220520T072434Z-001/切版用圖/Fixed_Button_Notes.png) no-repeat center;
        background-size: 75% auto;
    }

    .main-nav ul li:hover {
        background-color: #FF5E79;
    }

       
}

/* Tablet */
@media screen and (min-width: 768px) {
    /* test */
    .detail_content::before {
        top: -20%;
        background-image: url(./切版用圖-20220520T072434Z-001/切版用圖/KV_RocketCloudWhite_repeat.png);
        background-position: 0% top;
    }
    /* ____ */

    .header .logo img {
        width: 55%;
    }
    
    .main-nav ul li a{
        font-size: clamp(1.2rem, 1.5rem, 1.8rem); ;
        white-space: nowrap;
        display: block;
        padding: 10px 25px;
    }

    .main-nav ul li:hover {
        border-radius: 25px;
        background-color: var(--hv-left-nav-txt);
    }
    
    .main-nav ul li:hover  a{
        color: var(--hv-left-nav-bg);
    }


    /*grid settings lg*/

    .col-lg-2 {width: 50%;}
    .col-lg-5 {width: 20%;}

    .detail_box .box_txt {
        width: 100%;
    }

    /* section 3*/
    .mission_bg_b::after,
.mission_content .row::after {
    padding-bottom: 125%;
}

.mission_bg_t::after {
    padding-bottom: 29.16666%;
}

.mission_title::after {
    padding-bottom: 21.42857%;
}


/* test */
.mission_box .row .col picture img {
    width: 35%;
}

.mission_box .row .col:nth-child(1) picture img {
    top : -60%;
    left: -40%;
}

.mission_box .row .col:nth-child(2) picture img{
    top : -53%;
    left: 50%;
}

.mission_box .row .col:nth-child(3) picture img {
    width: 30%;
    top : 0%;
    left: 70%;
}

.mission_box .row .col:nth-child(4) picture img {
    width: 30%;
    top : 10%;
    left: -3%;
}

.mission_box .row .col:nth-child(5) picture img {
    width: 30%;
    top : 20%;
    left: -78%;
}

.mission_box .row .col:nth-child(6) picture img {
    top : 70%;
    left: -55%;
}

.mission_box .row .col:nth-child(7) picture img {
    width: 42%;
    top : 75%;
    left: 45%;
}

    
    
}

/* Desktop */
@media screen and (min-width: 2000px) {
    
}

